body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    height: 80px;
    padding: 0 60px; 
    background-color: #1F2937;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

